{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "semi": ["error"],
    "no-shadow": "off",
    "@typescript-eslint/no-shadow": "error",
    "@typescript-eslint/no-unused-vars": ["error", { "argsIgnorePattern": "^_", "varsIgnorePattern": "^_", "caughtErrors": "none" }],
    "no-console": 0,
    "no-empty": ["error", { "allowEmptyCatch": true }],
    "no-buffer-constructor": 0,
    "no-case-declarations": 0,
    "no-useless-escape": 0,
    "indent": "off",
    "object-curly-spacing": [
      "error",
      "always",
      {
        "objectsInObjects": true
      }
    ],
    "no-undef": 0,
    "require-atomic-updates": 0,
    "no-async-promise-executor": 0,
    "brace-style": [2, "1tbs", { "allowSingleLine": true }],
    "@typescript-eslint/explicit-function-return-type": "warn",
    "@typescript-eslint/ban-ts-comment": "off",
    "@typescript-eslint/no-non-null-assertion": "off",
    "@typescript-eslint/no-explicit-any": "warn",
    "@typescript-eslint/no-require-imports": "off",
    "@typescript-eslint/no-var-requires": "error",
    "@typescript-eslint/no-duplicate-enum-values": "off",
    "@typescript-eslint/no-unused-expressions": ["error", { "allowTernary": true }],
    "@typescript-eslint/adjacent-overload-signatures": "error",
    "@typescript-eslint/no-empty-function": "error",
    "@typescript-eslint/no-empty-interface": "error",
    "@typescript-eslint/no-inferrable-types": "error",
    "@typescript-eslint/no-loss-of-precision": "error",
    "no-class-assign": "error",
    "no-with": "error"
  },
  "overrides": [
    {
      "files": ["**/*.ts", "**/*.tsx"],
      "rules": {
        "semi": "off"
      }
    },
    {
      "files": ["src/lightning/**/*.ts", "src/cli/**/*.ts"],
      "rules": {
        "@typescript-eslint/no-var-requires": "off"
      }
    },
    {
      "files": ["tests/**/*.ts"],
      "rules": {
        "@typescript-eslint/no-var-requires": "off",
        "@typescript-eslint/no-empty-function": "off",
        "@typescript-eslint/no-empty-object-type": "off",
        "@typescript-eslint/no-unsafe-function-type": "off",
        "@typescript-eslint/no-wrapper-object-types": "off",
        "@typescript-eslint/no-unused-expressions": "off"
      }
    },
    {
      "files": ["**/*.ts"],
      "parserOptions": {
        "project": ["./tsconfig.test.json"]
      },
      "rules": {
        "@typescript-eslint/no-floating-promises": "error",
        "@typescript-eslint/no-misused-promises": "error"
      }
    }
  ]
}
